<h3>Платежи</h3>

<p *ngIf="!payments">
    <em>Загружаю...</em>
</p>
<p *ngIf="payments && payments.length === 0">
    <em>Отсутствуют</em>
</p>
<div class="container" *ngIf="payments" class="list-group">
    <a href="#" *ngFor="let payment of payments" class="list-group-item">{{ payment.dateTime }}</a>
</div>

<div class="container">
    <h1>Новый платёж</h1>
    <form>

        <div class="form-group">
            <div class="input-group">
                <input class="form-control" a2e-datetimepicker/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>


        <div class="form-group">
            <label for="amount">Сумма</label>
            <input type="text" class="form-control" id="amount">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
    
    
    
</div>