<h1 class="center-block">Счета</h1>

<div style="margin-bottom: 1em">
    <span class="lead" *ngIf="consumer">{{ consumer.lastName }} {{ consumer.firstName }} {{ consumer.middleName }}</span>
    <button class="btn" style="margin-left: 1em" type="button" (click)="calculate()" [disabled]="isCalculating">Пересчёт</button>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let invoice of invoices">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{invoice.id}}">
                    {{invoice.date | date:'MMMM yyyy'}} --- {{calculateInvoiceTotal(invoice)}}
                </a>
            </h4>
        </div>
        <div id="collapse{{invoice.id}}" class="panel-collapse collapse">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
            </div>
        </div>
    </div>
</div>

<ul class="pagination" *ngIf="pages">
    <li *ngFor="let page of pages" [class.active]="page === activePage">
        <a (click)="goToPage(page);">{{page}}</a>
    </li>
</ul>