<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!consumers"><em>Loading...</em></p>

<table class="table" *ngIf="consumers">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let consumer of consumers">
            <td>{{ consumer.id }}</td>
            <td>{{ consumer.firstName }}</td>
            <td>{{ consumer.middleName }}</td>
            <td>{{ consumer.lastName }}</td>
        </tr>
    </tbody>
</table>
