<div>
  <div>
    <span class="h4 mr-2">Платежи</span>
    <a data-toggle="collapse" href="#newPaiment" aria-expanded="false" aria-controls="newPaiment">
      <i class="fas fa-plus-circle"></i>
    </a>
  </div>

  <div class="collapse" id="newPaiment" #newPaiment>
    <div class="card card-body">
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <input required [(ngModel)]="model.dateTime" name="dateTime" class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
            <owl-date-time #dt1></owl-date-time>
          </div>

          <div class="col-auto">
            <input required [(ngModel)]="model.amount" name="amount" type="number" min="0" step="0.01" class="form-control">
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<p *ngIf="!payments">
  <em>Загружаю...</em>
</p>
<p *ngIf="payments && payments.length === 0">
  <em>Отсутствуют</em>
</p>
<div class="container" *ngIf="payments" class="list-group">
  <a href="#" *ngFor="let payment of payments" class="list-group-item">{{ payment.dateTime }}</a>
</div>
