<h1>Услуги</h1>

<div class="panel-group" id="accordion" *ngIf="services">
    <div class="panel panel-default" *ngFor="let service of services">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{service.id}}">{{service.name}}</a>
            </h4>
        </div>
        <div id="collapse{{service.id}}" class="panel-collapse collapse">
            <table class="table">
                <thead>
                    <tr>
                        <th>StartDate</th>
                        <th>EndDate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let price of service.prices">
                        <td>{{price.startDate}}</td>
                        <td>{{price.endDate}}</td>
                    </tr>
                </tbody>
            </table>

            <!--<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>-->
        </div>
    </div>
</div>

<!--<table class="table" *ngIf="services">
    <thead>
    <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services">
        <td>{{ service.id }}</td>
        <td>{{ service.name }}</td>
        <td>
            
        </td>
    </tr>
    </tbody>
</table>-->