<h1>Услуги</h1>

<div class="panel-group" id="accordion" *ngIf="services">
    <div class="panel panel-default" *ngFor="let service of services">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{service.id}}">{{service.name}}</a>
            </h4>
        </div>
        <div id="collapse{{service.id}}" class="panel-collapse collapse">
            <table class="table">
                <!--<thead>
                    <tr>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>Price</th>
                    </tr>
                </thead>-->
                <tbody>
                    <tr *ngFor="let price of service.prices">
                        <td>{{price.startDate | amLocale:'RU' | amDateFormat:'MMMM YYYY' }}</td>
                        <td *ngIf="price.endDate">{{price.endDate | amLocale:'RU' | amDateFormat:'MMMM YYYY' }}</td>
                        <td *ngIf="!price.endDate"></td>
                        <td>{{price.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>